<h1>EDIT {{data.title}}</h1>

<form class='editBlogForm'>

    <label for='title'>
        EDIT POST TITLE
    </label>

    <input name='title' type='text' class='editBlogTitle form-control' value="{{data.title}}" />

    <label for='content'>
        EDIT POST
    </label>

    <textarea name='content' class='editBlogContent form-control' rows='15'>{{data.content}}</textarea>

    <button type='submit' class='editBlog'>SUBMIT</button>
</form>



<script src="/js/editBlog.js"></script>