<h1>EDIT POST TEST</h1>
<h2>
    {{data.title}}
</h2>

<form class='editBlogForm'>
    <input class='editBlogTitle' />

    <h2>
        {{data.content}}
    </h2>

    <input class='editBlogContent' />

    <button type='submit' class='editBlog'>SUBMIT</button>
</form>



<script src="/js/editBlog.js"></script>