:root {
    --pink: magenta
}

body{
    background-color: #696969;
    color:white;
    font-size: 20px;
    line-height: 32px;
}

header{
    text-align: center;
}

.page-title {
    color: var(--pink);
    font-size: 65px;
    margin: 25px 25px 0 0;
    line-height: 65px;
}

header p{
    margin-bottom: 50px;
    max-width: 960px;
    margin: 0 auto;
}

.row{ 
    display: flex;
    flex-wrap: wrap;
}

.justify-center{
    justify-content: center;
}

.card{
    border: 2px dashed white;
    padding: 20px;
}

.card h2, .card p{
    color:magenta
}

.card h2 {
    font-size: 38px;
    border: 2px solid white;
    padding: 15px;
    border-radius: 5px;
    position: absolute;
    top: -34px;
    /* width: 80%; */
}

.card p{
    margin-top: 25px;
}

.card-block{
    background: linear-gradient(magenta blue); 
    padding: 15px;
    border-radius: 10px;
}